#home{
    background: #0275d8;
    color: #fff;
}

.caixa{
    padding: 60px 0;
    border-bottom: 1px solid #e5e5e5;
}

footer p a{
    margin: 5px 15px;
}

.zoom {
    transition: transform 0.5s ease;
  }

  .zoom-in {
    transform: scale(1.1);
  }